.game-index-item-grid {
    display: grid;
    grid-template-columns: 200px 40px;
    grid-template-rows: 25px 25px;
    background-color: #000000;
    width: 240px;
    align-items: center;
}

.odds, .team {
    color: white
}

.team {
    padding-left: 5px;
}

