.modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center; 
    border: 1px solid grey;
    position: absolute;
    width: 600px;
    height:400px;
    top: 30%;
    left: 38%;
}

.errors {
    color: red;
}




.modal-form {
    font-family:'Lucida Sans', Arial, sans-serif;
    display: inline-flex;
    position: fixed;
    flex-direction: column;
    background-color: #fff;
    /* width: 500px;
    height: 370px;
    border: 1px solid black;
    float: right;
    margin-top: -175px;
    margin-right: 30px; */
    top: 250px;
    width: 360px;
    padding: 10px;
    margin-left: -580px;
    background: #fff;
    z-index: 3;
    border-radius: 5px;
    border: 1px solid #000;
}

.modal-header {
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-footer {
    padding: 10px;
    display: flex;
    justify-content: space-evenly
    
}

.bet-button{
    background-color: #53d337;
    border: 1px solid #53d337;
    border-radius: 4px;
    padding: 5px 10px 5px 10px;
    text-align: center;
    font-size: 18px;
    font-weight:bold;
    cursor: pointer;
    color: black;
}

.modal-title {
    margin: 0;
    font-size: 30px;
    font-weight: 800;
}
 
.modal-body {
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height: 200px;
}

#favorite {
    float: inline-start;
}

#underdog {
    float: inline-end;
}
    

.matchup {
    font-weight: 800;
    font-size: 18px;
}

#bet-amount {
    border: 1px solid black;
}

.make-bet {
    border: 1px solid black;
    border-radius: 4px;
    padding: 5px;
    background-color: black;
    color: white;
}

.amount {
    border: 1px solid black;
    margin-top: 5px;
}
    
.make-bet {
    background-color: black;
    color: white;
    border-radius: 4px;
    padding: 5px;
}
