.game-block {
    display: inline-block;
    border: 1px solid black;
    width: 200px;
    height: 100px;

}



.game-block:hover {
    background-color: lightblue;
}

.game-block-row {
    background-color: inherit;
    height: 30px;
}

.game-list-odds {
    padding: 10px;
    background-color: inherit;
    
}

.game-row-city {
    padding: 10px;
    background-color: inherit;
    align-self: center;
}

.gametime {
    background-color: inherit;
    margin: 0 auto;
}

.game-block-logo {
    background-color: inherit;
    display: flex;
    height: 30px;
    width: 30px;
    align-items: center;
}

.gl-odds {
    background-color: inherit;
    margin-left: -10px;
}

.gl-odds2 {
    background-color: inherit;
    margin-left: 80px;
}

.gl-at {
    background-color: inherit;
    font-family: 'Montserrat', italic;
    font-weight: 800;
    font-size: 20px;
    align-self: center;
    
}

.away-team {
    float: right;
    font-family: "Monsterrat";
    font-weight: 800;
    width: 10%;
}

.game-time-lock {
    float: right;
    font-family: Monsterrat;
    font-weight: 800;
    border-radius: 5px;
    background-color: red;
    color: black;
}

.game-block-logo {
    left: 0;
    top: 50%;
}

.game-block-row {
    display: flex;
}

.big-modal-body {
    border: 5px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #303030;
    padding-bottom: 20px;
}

.big-modal-logos {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;
}

.big-modal-title {
    margin: 0 auto;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat';
    padding: 5px;
}
.big-modal-footer {
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: black;
    width: 90%;
    
}

.big-bet-team-name {
    padding: 20px 50px 20px 50px;
    font-weight: 600;
    font-family: 'Montserrat';
    color: black;
    border: 2px solid black;
}

.big-bet-team-score {
    padding: 20px 50px 20px 50px;
    font-family: 'Montserrat';
    color: black;
    border: 2px solid black;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.big-bet-amount {
    background: black;
    color: white;
    font-family: 'Montserrat';
    padding-top: 20px;
}

.lines {
    display: flex;
    padding: 20px;
    background-color: black;
}

.scores {
    display: flex;
    padding: 20px;
    background-color: black;
    justify-content: space-between;
    align-items: center;
    width: 80%;

}

.lines:focus {
    background-color: #53d337;
    color: black;
    border: 1px solid black;
}

.big-modal-amount {
    border: 1px solid white;
    width: 25%;
    border-radius: 5px;
}

.ready {
    padding: 10px;
    background-color: black;
}

.ready-to-wager {
    background-color: black;
    color: white;
    font-family: 'Montserrat';
}

.big-modal-form {
    width: 100%;
}

.big-modal-errors {
    color: red;
    font-family: 'Montserrat';
    font-size: 20px;
    background-color: black;
}

.big-bet-lock {
    background-color: red;
    border-radius: 5px;
    font-family: 'Montserrat';
    border: 1px solid white;
    cursor: pointer;
    width: 180px;
    height: 60px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
