html {
    background-color: #fff;
    width: 100%;
    height: 100%;
    margin-top: 40px;
}


.game-show {
    margin-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-name {
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
}

.count {
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
}

.game-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
}

.stats-box {
    display:flex;
    flex-direction: column;
    width: 40%;
    height: 100%;
    float: left;
    margin-left: 100px;
    margin-top: 50px;
    border: 5px solid black;
    background-color: #303030;
    border-radius: 10px;
    
}

.gamelist, .gamelist-box {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    max-height: 120px;
    margin: 0 auto;
    justify-content: center;

}

.comments-box {
    width: 30%;
    margin: 0 auto;
    margin-top: 1000px;
    flex-direction: column;
    position: absolute;
}

.chart-container {
    height: 33%;
    width: 100%;
    display: flex;
    flex-direction: row;
    margin: 0 auto;
}

.chart-box {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    background-color: #303030;
    border-bottom: 5px solid black;
}

.chart-box2 {
    width: 80%;
    padding: 30px;
    margin: 0 auto;
    background-color: #303030;
}

.chart {
    width: 30%;
    margin: 0 auto;
    background-color: #303030;
}

.odds {
    display: flex;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
.at {
    font-size: 50px;
    margin-top: 150px;
    font-family:'Montserrat', italic;
    font-weight: 900;
    font-style: italic;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.countdown {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Lucida Grande', sans-serif;
    margin: 0 auto;
    width: 50%;
    justify-content: center;
    margin-top: 5px;
    float: left;
}

.team-name2 {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.stats-header {
    font-family:'Montserrat';
    font-size: 20px;
    font-weight: 800;
    padding: 30px;
    background-color: #53d337;
    border: 5px solid black;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    z-index: 2;
    margin-top: -50px;
}
.game-show-btn {
    position: absolute;
	left: 50%;
    top: 60%;
	transform: translateX(-50%);
	border: 1px solid black;
	background-color: rgb(32, 16, 128);
	border-radius: 6px;
	padding: 10px 48px;
	color: #fff;
	font-size: 14px;
}

#chart-text {
    display: flex;
    font-size: 13px;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat';
    padding: 5px 10px 10px 5px;
    border: 1px solid white;
    margin-top: 20px;
    text-align: center;
}






