html {
    background-color: #fff;
    width: 100%;
    height: 99%;
    margin-top: 40px;
}

.game-show {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    z-index: 2;

}


.team-name {
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
}

.count {
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
}

.game-box {
    display: flex;
    width: 40vh;
    height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    z-index: 2;
}

.stats-box {
    display:flex;
    flex-direction: column;
    width: 25vh;
    height: 70vh;
    float: left;
    /* border: 5px solid black; */
    z-index: 2;
    margin: 0 auto;
    background-color: black;
    border: 5px solid black;
    border-radius: 5px;
    box-shadow: 4px 4px 4px 4px #303030;
    margin-top: 50px;
}

.gamelist, .gamelist-box {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    max-height: 120px;
    max-width: 100vh;
    margin: 0 auto;
    z-index: 5;
    -webkit-overflow-scrolling: touch;
    padding-top: 15px;
}

.comments {
    display: flex;
    flex-direction: column;
    width: 25vh;
    height: 70vh;
    background-color: black;
    border-radius: 5px;
    margin: 0 auto;
    gap: 50px;
    box-shadow: 4px 4px 4px 4px #303030;
    margin-top: 50px;
    z-index: 2;
}

.chart-box {
    width: 50%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    background-color: black;
    border-bottom: 5px solid white;

}

.chart-box2 {
    width: 50%;
    height: 50%;
    padding: 30px;
    margin: 0 auto;
    background-color: black;

}

.odds {
    display: flex;
    font-size: 30px;
    font-weight: 800;
    justify-content: center;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,900&display=swap');
.at {
    font-size: 50px;
    font-family:'Montserrat', italic;
    font-weight: 900;
    font-style: italic;
    margin-top: 200px;
}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');

.countdown {
    display: flex;
    font-size: 25px;
    font-weight: 600;
    font-family: 'Montserrat';
    margin: 0 auto;
    justify-content: center;
    margin-top: 50px;
}

.team-name2 {
    text-align: center;
    margin-top: 15px;
    font-size: 18px;
    font-weight: 600;
}

.stats-header {
    font-family:'Montserrat';
    font-size: 20px;
    font-weight: 800;
    padding: 20px 40px 20px 40px;
    background-color: #53d337;
    border: 5px solid black;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    margin: 0 auto;
    z-index: 2;
    margin-top: -35px;
}
.chat-header {
    font-family:'Montserrat';
    font-size: 20px;
    font-weight: 800;
    padding: 20px 40px 20px 40px;
    background-color: #53d337;
    border: 5px solid black;
    border-radius: 5px;
    width: 55px;
    height: 25px;
    margin: 0 auto;
    z-index: 2;
    margin-top: -35px;
}
.game-show-btn {
    position: absolute;
	left: 50%;
    top: 60%;
	transform: translateX(-50%);
	border: 1px solid black;
	background-color: rgb(32, 16, 128);
	border-radius: 6px;
	padding: 10px 48px;
	color: #fff;
	font-size: 14px;
}

#chart-text {
    display: flex;
    font-size: 10px;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat';
    padding: 5px 10px 10px 5px;
    border: 1px solid white;
    text-align: center;
    margin-top: 10px;
}

#no-chart-text {
    display: flex;
    font-size: 10px;
    margin: 0 auto;
    background-color: black;
    border-radius: 5px;
    color: white;
    font-family: 'Montserrat';
    padding: 5px 10px 10px 5px;
    border: 1px solid white;
    text-align: center;
}

.big-bet-button {
    background-color: #53d337;
    border: 1px solid #53d337;
    border-radius: 4px;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin: 0 auto;
    display: flex;
    font-family: 'Montserrat';
    border: 1px solid black;
}

.chart-box {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}











