.game-show {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    left: 25%;
    width: 60%;
    height: 100%;
    border: 1px solid black;
    position: absolute;
    align-self: center;
    background-color: grey;
    z-index: 1;
}

.home-team {
    border: 1px solid green;
    z-index: 2;
    background-color: grey;
    
}

.away-team {
    border: 1px solid blue;
    z-index: 2;
    background-color: grey;
}

.team-name {
    align-self: center;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
    z-index: 2;
    background-color: grey;
}

.count {
    border: 1px solid black;
    font-weight: 800;
    font-family: 'Lucida Grande', sans-serif;
}
